body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #9d00ff;
  padding: 10px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link.active {
  text-decoration: underline;
}

h1{
  display: block;
  font-size: xx-large;
  font-style: italic;
  align-items:center;
  text-shadow: 1px 2px 3px #000;
}