body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #9d00ff;
  padding: 10px;
}

.link {

  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link.active {
  text-decoration: underline;
}

.Titulo{
  color: aqua;
  display: block;
  font-size: 10rem;
  font-style: italic;
  align-items:center;
  text-align: center;
  text-shadow: 1px 2px 3px #374a4f;
}

.texto{
  display: block;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: bold;

}

.Lista {
   padding: 10px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.Objetos {
    background-color: #c603b9;
    border-radius: 10px;
    padding: 20px;
    color: #fefcfb;
    box-shadow: 0 2px 10px #0A1128;
    transition: transform 0.3s ease;
}

.Objetos:hover {
    transform: scale(1.05);
}