@use "./variables" as *;
@use "./mixins" as *;

/*Base del sitio web*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-main;
  background-color: $color-bg;
  color: $color-text;
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  @include responsive("lg") {
  }

  /* Estilos para tablet (<=768px) */
  @include responsive("tablet") {
  }

  /* Estilos para móvil (<=480px) */
  @include responsive("mobile") {
  }
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 15px 0;
}
