/*variables con posibilidad de cambios*/

$color-primary: #666666;
$color-secondary: #333333;
$color-accent: #cccccc;
$color-text: #ffffff;
$color-bg: #000000;
$text-shadow: #333333;

$font-main: italic;
$max-width: 1200px;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
